*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
 
  background-image: url(images/image5.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
 
}

.mainh2{
  color: rgb(221, 39, 39);
  font-size:100px ;
  text-align: center;

}
.mainh1{
  color: rgb(255, 255, 255);
  font-size:100px ;
  text-align: center;

}

.about{
 
  background-image: url(images/image4.avif);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: aliceblue;
 
}


.crud{
 
  background-image: url(images/image3.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: aliceblue;
 
}
.register{
 
  background-image: url(images/image4.avif);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: aliceblue;
 
}


.login{
 
  background-image: url(images/image9.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: aliceblue;
 
}
